html {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-image: url("../images/html-day-2025/IMG_3402.JPG");
    background-size: cover;
}

h1 {
    margin-left: 7vw;
    position: fixed;
    z-index: 1;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: transparent;
    text-shadow: 0 0 10px rgba(67, 255, 70, 1);
}

p {
    font-weight: 100;
    height: 100vh;
    position: fixed;
    margin-top: auto;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgba(67, 255, 70, 0.5);
    text-align: center;
}

.imgs {
    position: fixed;
    z-index: -1;
}